services:
  server:
    build:
      context: ./
      dockerfile: .docker/Dockerfile_local
    volumes:
      - ".:/app"
    ports:
      - 5001:5001
    env_file:
      - .env
    environment:
      - NODE_ENV=development
    entrypoint: ["/app/.docker/entrypoint.sh"]
    depends_on: 
      - postgres
    
  postgres:
    image: postgres:16
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=mySecretPassword
    ports:
      - 5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
